<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome Employee!</title>
</head>
<body>
<h3>What would you like to do?</h3>

	  <ul>
		<li><a href="SubmitReimbursement.html">Submit Reimbursement Request</a></li>
		<li><a href="ReviewReimbursements.html">View Pending Reimbursement Requests</a></li>
		<li><a href="ViewResolvedreimbursements.html">View Resolved Reimbursement Requests</a></li>
		<li><a href="AccountInformation.html">View Account Information</a></li>
	  </ul>


<script src="static/views/employee.js"></script>
</body>
</html>